/*parte principal*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:crimson;
}
.estilo_titulo{

    font-size: 35px;
    font-family: 'Montserrat Alternates', sans-serif;
}
/*footer*/
.caja_logo{
    width: 50%; 
    height: 140px; 
    float: left; 
    position: relative;

    
}

div img{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.caja_titulo{
    background-color: lightsteelblue;
    width: 50%; 
    height: 140px; 
    float: left; 
    background-color: white;
    position: relative;
}

div h1{
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(-50%, -50%);
}

/*estilos del main*/
#formulario{
    background-color:white;
    color:black;
    margin-left: 30%;
    width: 40%;
    margin-right: 30%;
}
#formulario_titulo{
    color:black;
    text-align: center;
}

label{
    display:inline-block;
    width: 30%;
 
}

input, select{
    width: 68%;
}

.boton_formulario{
    width: 49%;
    height: 35px;
    background-color: white;
    border-color: orangered;
    color:black;
}

.boton_formulario:hover{
    color: orangered;
}


/*menu*/
nav{
    text-align: center;

}

li{
    display:inline-block;
    width: 15%;
    height: 35px;
    background-color: orangered;
    padding-top: 10px;   
}

li a{
    text-decoration: none;
    color: white;
    

}

li a:hover{
    color:dodgerblue;
}

/*tabla*/
table{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #000;
}

th, td{
    border: 1px solid #000;
}

